Google[[:space:]]Chrome.app/Contents/Frameworks/Google[[:space:]]Chrome[[:space:]]Framework.framework/Versions/86.0.4240.198/Google[[:space:]]Chrome[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
Google[[:space:]]Chrome.app/Contents/Frameworks/Google[[:space:]]Chrome[[:space:]]Framework.framework/Versions/87.0.4280.67/Google[[:space:]]Chrome[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
